@import 'tailwindcss';

@plugin "daisyui";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

body {
  @apply transition-colors duration-300;
  background: var(--background);
  color: var(--foreground);
}
